{% extends "layout.html" %}

{% block content %}
<ul class="list-group">
  {% for item in list %}
      <li class="list-group-item">
          <a href="?site={{site}}&show={{item.attr('href')}}"> {{item.text()}} </a>
      </li>
  {% else %}
      No items have been found.
  {% endfor %}
</ul>
<nav>
  <ul class="pager">
      <li><a href="?site={{site}}&page={{page - 1}}">Previous</a></li>
    {{ page }}
    <li><a href="?site={{site}}&page={{page + 1}}">Next</a></li>
  </ul>
</nav>
{% endblock %}
